In [1]:
import pandas as pd
import numpy as np

# For plotting
import matplotlib.pyplot as plt

# Stats tools
from scipy.stats import kurtosis, skew # For skew and kurtosis
import statsmodels.formula.api as sm # For OLS
import statsmodels.stats.outliers_influence as oi # for RESET

In [7]:
all_data = pd.read_csv('bwages.csv')

In [9]:
all_data.describe()

,wage,lnwage,educ,exper,lnexper,lneduc,male
count,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000
mean,11.050616,2.334394,3.378397,17.217391,2.690671,1.136519,0.606658
std,4.450513,0.362535,1.204522,10.166675,0.729217,0.433972,0.488658
min,2.190978,0.784348,1.000000,0.000000,0.000000,0.000000,0.000000
25%,8.112879,2.093453,3.000000,9.000000,2.302585,1.098612,0.000000
50%,10.126653,2.315170,3.000000,16.500000,2.861793,1.098612,1.000000
75%,12.755446,2.545958,4.000000,24.000000,3.218876,1.386294,1.000000
max,47.575523,3.862318,5.000000,47.000000,3.871201,1.609438,1.000000

In [10]:
all_data[all_data['male'] == 0].describe()

,wage,lnwage,educ,exper,lnexper,lneduc,male
count,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000,579.0
mean,10.261544,2.266694,3.587219,15.203800,2.559102,1.217806,0.0
std,3.808585,0.351108,1.086521,9.704987,0.737986,0.375220,0.0
min,2.190978,0.784348,1.000000,0.000000,0.000000,0.000000,0.0
25%,7.792486,2.053160,3.000000,7.000000,2.079442,1.098612,0.0
50%,9.507280,2.252058,4.000000,14.000000,2.708050,1.386294,0.0
75%,11.972131,2.482582,4.000000,22.000000,3.135494,1.386294,0.0
max,33.803661,3.520569,5.000000,47.000000,3.871201,1.609438,0.0

In [11]:
all_data[all_data['male'] == 1].describe()

,wage,lnwage,educ,exper,lnexper,lneduc,male
count,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.0
mean,11.562231,2.378290,3.243001,18.522956,2.775977,1.083814,1.0
std,4.753789,0.363262,1.257386,10.251041,0.710982,0.460737,0.0
min,3.467042,1.243302,1.000000,0.000000,0.000000,0.000000,1.0
25%,8.450915,2.134275,2.000000,11.000000,2.484907,0.693147,1.0
50%,10.481483,2.349610,3.000000,18.000000,2.944439,1.098612,1.0
75%,13.380616,2.593807,4.000000,26.000000,3.295837,1.386294,1.0
max,47.575523,3.862318,5.000000,46.000000,3.850147,1.609438,1.0

In [13]:
first_model = sm.ols(formula="wage ~ male + exper + educ", data=all_data).fit()
print(first_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.366
Model:                            OLS   Adj. R-squared:                  0.364
Method:                 Least Squares   F-statistic:                     282.0
Date:                Wed, 28 Nov 2018   Prob (F-statistic):          1.63e-144
Time:                        15:59:08   Log-Likelihood:                -3951.0
No. Observations:                1472   AIC:                             7910.
Df Residuals:                    1468   BIC:                             7931.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2137      0.387      0.552      0.581      -0.545       0.973
male           1.3461      0.193      6.984      0.000       0.968       1.724
exper          0.1923      0.010     20.064      0.000       0.173       0.211
educ           1.9861      0.081     24.629      0.000       1.828       2.144
==============================================================================
Omnibus:                      589.104   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5294.526
Skew:                           1.616   Prob(JB):                         0.00
Kurtosis:                      11.711   Cond. No.                         87.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
second_model = sm.ols(formula="wage ~ male + exper + np.power(exper, 2) + educ", data=all_data).fit()
print(second_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.378
Model:                            OLS   Adj. R-squared:                  0.377
Method:                 Least Squares   F-statistic:                     223.2
Date:                Wed, 28 Nov 2018   Prob (F-statistic):          1.04e-149
Time:                        15:59:53   Log-Likelihood:                -3936.0
No. Observations:                1472   AIC:                             7882.
Df Residuals:                    1467   BIC:                             7909.
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -0.8925      0.433     -2.062      0.039      -1.742      -0.043
male                   1.3337      0.191      6.988      0.000       0.959       1.708
exper                  0.3580      0.032     11.309      0.000       0.296       0.420
np.power(exper, 2)    -0.0044      0.001     -5.487      0.000      -0.006      -0.003
educ                   1.9881      0.080     24.897      0.000       1.831       2.145
==============================================================================
Omnibus:                      605.567   Durbin-Watson:                   1.962
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5551.277
Skew:                           1.665   Prob(JB):                         0.00
Kurtosis:                      11.912   Cond. No.                     2.73e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.73e+03. This might indicate that there are
strong multicollinearity or other numerical problems.